.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }
}
