.header {
  background-color: #282c34;
  padding: 1em;
  color: white;
  text-align: center;
}

.navList {
  list-style-type: none;
  padding: 0;
}

.navList li {
  display: inline;
  margin: 0 10px;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}
